* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BODY START */
body {
    background-color: #d9dcd6;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* BODY END */

/* HEADER START */
.header {
    padding: 20px;
    font-family: 'Oranienbaum', serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 32px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* HEADER END */

/* HERO START */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpeg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* HERO ENDS */

/* CONTENT START */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Combined previous CSS lines from the Areas of Expertise */
.content div {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Oranienbaum', serif;
        background-color: #0072bb;
        color: #ffffff;
    }
/* Combined previous CSS lines from the Areas of Expertise - they all previously had the same max-height */

.content img {
    max-height: 200px;
}

.content h2 {
    /* Combined previous lines for the Areas of Expertise because of equal font sizes and margin-bottom */ 
    margin-bottom: 20px;
    font-size: 36px;
}
/* CONTENT END */

/* BENEFITS START */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits p {
    /* Combined previous lines for "brand, lead and cost benefits" */ 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    /* Combined previous lines for "brand, lead and cost benefits" for margin and text-align */ 
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

.benefits img {
    /* Combined previous lines for "brand, lead and cost benefits" since they are equal" */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* BENEFITS END */

/* FOOTER START */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
/* FOOTER END */