* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: rgba(32, 130, 148, 0.753);
    --secondary: white;
    --third: #dfdb14;
    --fourth: #b9bbbbce;
}

/* BODY START */
body {
    background-color: var (--fourth);
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}
/* BODY END */

/* HEADER START */
.header {
    padding: 5px;
    font-family: 'Abel', sans-serif;
    background-color: rgba(32, 130, 148, 0.753);
    color: #ffffff;
}

.header h1 .Portfolio {
    font-family: 'Allison', cursive;
    display: inline-block;
    color: #dfdb14;
    font-size: 60px;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}
    
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline; 
    text-decoration-color: #dfdb14;
    text-decoration-thickness: 15%;
    text-underline-offset: 0.3em;
}
/* HEADER END */

/* HERO START */
.hero {
    background-image: url("../images/iceland-icebergs.jpg");
    background-size: cover;
    background-position: center;
    height: 225px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;    
}

.hero img {
    height: 150px;
    width: 150px;
    border-radius: 15%;
    background-size: cover;
    border: 5px solid rgba(32, 130, 148, 0.753);   
}

.hero .text {
    font-size: 30px;
    font-family: 'Allison', cursive;
    display: flex;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
}
/* HERO ENDS */

/* ABOUT ME Section - Start */
.about-me p {
    font-size: 20px;
}

.headshot img {
    width: 90px;
    margin: 0 auto 30px auto;
}
/* ABOUT ME Section - END */

/* WORK Section Syles - Start */
.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#austin-fc {
    flex: 1 100%;
    border: 5px solid var(--primary);
    margin-bottom: 20px;
    width: 100%;
    background-image: url("../images/austin-fc.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
.highlight {
    width: 49%;
    background-size: cover;
    background-position: center;
    border: 5px solid var(--primary);
    margin-bottom: 10px;
    padding-top: 65px;
    opacity: 0.4;
}
#nice-kicks {
    background-image: url("../images/nice-kicks-logo.png");
}
#horiseon {
    background-image: url("../images/horiseon-image.jpg");
}
#adventures {
    background-image: url("../images/osby-iceland.jpg");
}
#run-buddy {
    background-image: url("../images/run-buddy-image.jpg");
}

/* CONTACT ME style start */
.contact-info a {
    text-decoration: underline;
    text-decoration-color: rgba(32, 130, 148, 0.753);
    text-decoration-thickness: 15%;
    text-underline-offset: 0.3em;
    
}
.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}
.contact-info ul li {
    padding: 30px 30px;
    font-size: 1.5vw;
    margin-right: 10px;
}
.contact-info ul li a {
    color: var(--dark-blue);
    border-bottom: 2px solid var(--med-blue);
    border-width: min-content;
    padding-bottom: 2px;
}
.contact-info ul li a:hover {
    color: var(--third);
}
/* CONTACT ME style end */






